@use "./components//params-ui.scss";
@use "./components/snapshot-display.scss";
@use "./components/processes-display.scss";

body {
    background-color: #222;
    font: 16px sans-serif;
}

.hidden {
    display: none !important;
}
